.demo-card-wide.mdl-card {
    width: 512px;
    top: 20vw;
    margin-left: auto;
    margin-right: auto;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 76px;
    background: url('../Projet-miniChat/smile_cat.png') bottom right 15% no-repeat #46B6AC;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}
.liste {
    color: mediumpurple;
}


